<footer id="footer">
	<div class="container footer">
		<div class="row">
			<div class="column">
				<h4 class="x-bold">Social Media</h4>
				<ul>
					<li><a href="https://twitter.com/pinkpenguinsio">Twitter</a></li>
					<li><a href="https://www.instagram.com/pinkpenguins.io/">Instagram</a></li>
					<li><a href="https://soundcloud.com/user-774727601-835418958">Soundcloud</a></li>
				</ul>
			</div>
			<div class="column">
				<h4 class="x-bold">Join Us</h4>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Sign up</a></li>
				</ul>
			</div>
			<div class="column">
				<h4 class="x-bold">Support PP</h4>
				<ul>
					<li><a href="https://www.patreon.com/pinkpenguins">Patreon</a></li>
					<li><a href="https://www.amazon.com/hz/wishlist/ls/3OAYDGO9N4YXY?ref_=wl_share">Amazon Wishlist</a></li>
					<li><a href="https://teespring.com/stores/pinkpenguins">Shop</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
