<header id="hero">
	<div class="container full stretch hero justify-center align-center text-center">
		<div class="row">
			<div class="column">
				<img src="/assets/img/01.png" alt="Pink Penguins" />
				<!-- <h1 class="dark-gray heavy smooth">Pink Penguins</h1> -->
				<p class="dark-gray light smooth">Adding diversity to The Cloud,<br/>one Pink Penguin at a time.</p>
				
				<div class="row sign-up">
					<input placeholder="Enter your email" /> <button>Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</header>
