<header id="hero">
	<div class="container full stretch hero justify-center align-center text-center">
		<div class="row">
			<div class="column">
				<img src="/assets/img/01.png" alt="Pink Penguins" />
				<!-- <h1 class="dark-gray heavy smooth">Pink Penguins</h1> -->
				<p class="dark-gray light smooth">At Pink Penguins, we strive to assist with creating a healthy work environment for everyone - <br>not only by amplifying voices of those underrepresented in tech, but also by educating <br>the “decision makers” on recognizing and addressing the conscious and unconscious prejudices that hinder growth. <br>We believe that through education and spreading awareness we can increase understanding of and empathy for one another and the daily struggles we all face.</p>

				
				<div class="row sign-up">
					<a href="https://www.patreon.com/bePatron?u=26632021" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
				</div>
			</div>
		</div>
	</div>
</header>
