<header id="hero">
	<div class="container full stretch hero justify-center align-center text-center">
		<div class="row">
			<div class="column">
				<img src="/assets/img/01.png" alt="Pink Penguins" />
				<!-- <h1 class="dark-gray heavy smooth">Pink Penguins</h1> -->
				<p class="dark-gray light smooth">At Pink Penguins™, we strive to assist with creating healthy work environments for everyone <br>by educating leadership, HR, and general teams on recognizing and addressing the <br>conscious and unconscious prejudices that can hinder growth. <br>We believe that through education and spreading awareness we can increase understanding of and empathy for one another and the daily struggles we all face.<br>Follow us on <a href="https://www.patreon.com/pinkpenguins">Patreon</a> for monthly blogs how you can improve Diversity and Inclusion in your workforce.</p>

				
				<div class="row sign-up">
					<a href="https://www.patreon.com/bePatron?u=26632021" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
				</div>
			</div>
		</div>
	</div>
</header>
